@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	/* background-color: rgba(255, 0, 0, 0.1); */
}

body {
	font-family: 'Work Sans', sans-serif;
	background-color: #efefef;
}

a {
	text-decoration: none;
	color: #000;

}
a:hover, a:focus {
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 500;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  min-height: 100%;
}
#footer {
	font-size: .8em;
	margin: 32px auto 0;
	border-top: 1px solid #ddd;
}

#footer p {
	padding: 32px;
}

/* ====================== Header ====================== */
header {
  width: 100%;
	background-color: #FFF;
	border-bottom: 1px solid #efefef;
}

header h1 {
	font-size: 1.6em;
	padding: 32px;
  margin: auto;
	text-transform: uppercase;
}

header h1 a {
	background-color: #fbd7cb;
}

/* ====================== Navigation ====================== */
nav {
	background-color: #fff;
}

nav div {
	padding: 32px;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #000;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
}
.filter-options label {
	font-weight: 600;
	font-size: 1.2em;

}
.filter-options select {
	background-color: #fff;
	font-family: 'Work Sans', sans-serif;
	font-size: 1.2em;
	border: none;
	padding: 10px 0;
	margin: 0 20px;
	border-bottom: 2px solid #000;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: outside none none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#restaurants-list li {
	max-width: 400px;
	width: 30%;
	background-color: #fff;
	margin: 2em;
}
#restaurants-list .restaurant-img {
  background-color: #000;
  max-width: 100%;
  min-width: 100%;
}

#restaurants-list li address,
#restaurants-list li p,
#restaurants-list li a {
	margin-left: 30px;
	margin-right: 30px;
}

#restaurants-list li h2 {
	font-size: 1.6em;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 16px;
	padding-bottom: 16px;
	border-bottom: 2px solid #000;
}
#restaurants-list li address {
	font-style: normal;
	font-weight: 600;
}

#restaurants-list li p {
	line-height: 2em;

}
#restaurants-list li a {
	font-family: 'Work Sans', sans-serif;
	display: inline-block;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 36px;
	padding: 16px 24px;
	background-color: #fbd7cb;
	cursor: pointer;
}
#restaurants-list li a:hover,
#restaurants-list li a:focus {
	background-color: #ecc9bd;

}

/* ====================== Breadcrumb ====================== */

nav #breadcrumb {
	background: #fff			;
	padding: 16px 32px;
}
#breadcrumb ul {
}

/* Display list items side by side */
#breadcrumb li {
	display: inline-block;
	font-weight: 600;
}

/* Add a slash symbol (>) before/behind each list item */
#breadcrumb li+li:before {
	content: "\003e";
	padding-right: .5em;
	font-weight: 400;
}

/* Add a color to all links inside the list */
#breadcrumb li a {
	font-weight: 400;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
	text-decoration: underline;
}
/* ====================== Restaurant Details ====================== */

#restaurant-container,
#reviews-container {
	background-color: #fff;
	max-width: 800px;
	margin: 3em auto;
}

#restaurant-img {
	max-width: 100%;
}

#restaurant-name,
#restaurant-cuisine,
#restaurant-hours,
#restaurant-location-info {
	margin-left: 48px;
}

#restaurant-name {
	padding-top: 36px;
	padding-bottom: 24px;
	margin-bottom: 18px;
	border-bottom: 2px solid;
	font-size: 2.1em;
}

#restaurant-cuisine {
	padding: 0 0 36px 0;
	font-size: 1.2em;
	/* font-weight: 600; */
}

#restaurant-details {
	display: flex;
	justify-content: space-between;
	padding-bottom: 48px;
}

#restaurant-location-info {
	width: 60%;
}

#restaurant-address {
	font-style: normal;
	font-weight: 600;
	padding: 12px;
	background-color: #fbd7cb;
}

.inside #map-container {
	height: 240px;
}

.inside #map {
	background-color: #ccc;
	height: 100%;
	width: 100%;
}

#restaurant-hours {
	font-size: 0.9em;
	max-width: 33%;
	min-width: 33%;
	margin-right: 48px;
}

#restaurant-hours td {
	padding: 6px 6px 6px 0;
}

#restaurant-hours td:nth-of-type(1){
	font-weight: 600;
	padding-right: 24px;
}

#restaurant-hours td {
	vertical-align: top;
}


/* ====================== Restaurant Reviews ====================== */
#reviews-container {

}

#reviews-container h2 {
	font-size: 1.4em;
	text-transform: uppercase;
	margin-left: 48px;
	padding: 48px 0 24px;
	border-bottom: 2px solid #000;
}

#reviews-list {
	padding: 0 48px 48px;
}
#reviews-list li {
	list-style-type: none;
	border-bottom: 1px solid #ccc;
}

#reviews-list li p {
	line-height: 1.5em;
}
.reviewer-name {
	font-size: 1.4em;
	padding-top: 36px;
}
.review-rating {
	font-weight: 600;
	padding-bottom: 12px;
}
.review-comment {
	padding-bottom: 24px;
}


/* ======================  ====================== */
.leaflet-control-attribution {
	font-family: 'Work Sans', sans-serif;
}

.leaflet-container a {
	font-weight: 600;
	color: #000 !important;
}
