@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	/* background-color: rgba(255, 0, 0, 0.1); */
}

body,td,th,p{

}
body {

}
ul, li {

}
a {

}
a:hover, a:focus {

}
a img{

}
h1, h2, h3, h4, h5, h6 {

}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  min-height: 100%;
}
#footer {

}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
}
nav h1 {
  margin: auto;
}
nav h1 a {

}
#breadcrumb {
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {

}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #f00;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
}
.filter-options h2 {
}
.filter-options select {
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  list-style: outside none none;
}
#restaurants-list li {

}
#restaurants-list .restaurant-img {
  background-color: #f00;
  /* max-width: 100%;
  min-width: 100%; */
}
#restaurants-list li h1 {

}
#restaurants-list p {

}
#restaurants-list li a {

}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {

}
#restaurant-name {

}
#restaurant-img {

}
#restaurant-address {

}
#restaurant-cuisine {

}
#restaurant-container,
#reviews-container {

}
#reviews-container {
}
#reviews-container h2 {

}
#reviews-list {

}
#reviews-list li {
	list-style-type: none;
}
#reviews-list li p {
}
#restaurant-hours td {
}
